# Dependencies
node_modules

# Build output
dist

# Playwright
test-results
playwright-report

# TypeScript
tsconfig.tsbuildinfo

# Nix
result
result-*
.direnv

# Editor
.vscode
.idea
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*

# Environment
.env
.env.local
.env.*.local

clab-*

# Captures written by testlab/scenarios.ts — regenerate, don't commit
testlab/scenarios/
